.buttonsubmit{
    background-color: green;
    cursor: pointer;
}

label{
    width: 100px;
    /* border: 1px solid red; */
}

.aaa{
    display: inline-block;
    width: 100px;
}

div{
    margin: 5px;
}

form{
    width: 300px;
    padding: 10px;
    border: 1px solid black;
}